<div class="col-scrollable note-source">
  <div class="note-meta-cotrols">
    <div class="clearfix">
      <div class="pull-right">
        <button ng-click="save()" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-save"></span> &nbsp;Save
        </button>
      </div>
    </div>
    <div>
      <input ng-model="note.title" type="text" class="form-control" placeholder="Note Title">
    </div>
  </div>
  <div ng-model="note.content" ui-ace="{
    mode: 'markdown',
    onLoad: aceLoaded,
    onChange: aceChanged
  }"></div>
</div>

<div class="col-scrollable note-preview">
  <h1>{{ note.title }}</h1>
  <div marked="note.content"></div>
</div>
