<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="root.home">Scribble</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="root.home">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li dropdown ng-show="isLoggedIn">
          <a role="button" dropdown-toggle>
            <img src="https://s.gravatar.com/avatar/{{ gravatarHash }}?s=30" alt="profile image" class="img-rounded profile-image"/>
            {{ user.email }}&nbsp;<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a role="button" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
