<div class="col-scrollable note-view">
  <div class="clearfix">
    <div class="note-title pull-left">
      <h1>{{ currentNote.title }}</h1>
    </div>
    <div class="pull-right">

      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary" dropdown-toggle>
          Action &nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a ng-click="remove()" role="button">
              <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
            </a>
          </li>
        </ul>
      </div>

      <button ui-sref="root.editor({noteId: currentNote.id})"
                             type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
      </button>

      <button ui-sref="root.editor"
              type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;New
      </button>
    </div>
  </div>
  <div marked="currentNote.content"></div>
</div>
