<div class="col-scrollable note-list">
  <div infinite-scroll="paginate()" infinite-scroll-distance="0"
       infinite-scroll-container="'.col-scrollable.note-list'"
       infinite-scroll-disabled="isBusy" class="list-group">
    <a ng-repeat="note in notes"
       ui-sref-active="active"
       ui-sref=".detail({noteId: note.id})"
       class="note-list-item list-group-item">
      <div class="clearfix">
        <h4 class="pull-left list-group-item-heading">{{ note.title }}</h4>
        <div class="pull-right">{{ note.updatedAt | date:"short" }}</div>
      </div>
      <p class="list-group-item-text">{{ note.content | limitTo:120 }}</p>
    </a>
  </div>
</div>
<div ui-view="detail"></div>
