<div class="col-scrollable note-view">
  <div class="clearfix">
    <div class="note-title pull-left">
      <h1>{{ currentNote.title }}</h1>
    </div>
    <div class="pull-right">
      <button ng-click="remove()"
              type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
      </button>
      <button ui-sref="root.editor({noteId: currentNote.id})"
              type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit
      </button>
    </div>
  </div>
  <div marked="currentNote.content"></div>
</div>
